---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Cases from '../components/Cases.astro';
import WhyUs from '../components/WhyUs.astro';
import AIvsTeam from '../components/AIvsTeam.astro';
import FAQ from '../components/FAQ.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Services />
    <HowItWorks />
    <Cases />
    <WhyUs />
    <AIvsTeam />
    <FAQ />
    <Contact />
  </main>
  <Footer />
</Layout>
